@use 'base/variables' as v;
@use 'base/mixins' as m;

.recientes {
    text-align: center;
    @include m.desktop {
        text-align: left;
    }
    &__heading {
        text-transform: lowercase;
        color: v.$azulFuerte;
        font-size: 3.4rem;
        @include m.desktop {
            text-align: left;
            font-size: 4rem;
        }
    }
    &__inicioSesion {
        font-size: 2.2rem;
        font-weight: 400;
        @include m.desktop {
            font-size: 3rem;
        }
    }
}